/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 */

.search-column {
  text-align: center;
  padding-top: 50px;
}

.search-button {
  height: 30px;
}

.search-field {
  height: 30px;
  width: 300px;
}

.graph-row {
  padding-top: 50px;
}

.feature-chart-container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.feature-chart rect {
  fill: black;
}

.feature-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}